* {
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

h1 {
    margin: 0;
}

h2 {
    /* margin: 0; */
}


/* HEADER */

.title {
    flex-grow: 2;
}

.new-loc {
    margin-right: 1%;
}


/* HELPERS */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}