* {
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

h1 {
    margin: 0;
}


/* HELPERS */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}