/* GENERAL */

* {
    box-sizing: border-box;
    /* outline: 1px solid black; */
}

body {
    font-size: 1.5rem;
    background-color: lightsalmon;
}

h1 {
    margin: 0;
}

.main-container {
    padding: 2%;
}


/* HEADER */

.title {
    flex-grow: 2;
}

.new-loc {
    margin-right: 1%;
}

#enter-loc {
    font-size: 2.5rem;
}


/* CURR-LOC */

.curr-loc {
    align-items: center;
}

.loc-name {
    line-height: 2.5;
}

.copy-loc {
    height: 30px;
}


/* WEATHER-LOCS-MAP */

.weather-locs {
    margin-right: 5%;
}

.weather {
    background-color: lightblue;
    height: 48%;
}

.saved-locs {
    background-color: lightblue;
    height: 48%;
}


/* HELPERS */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.column {
    flex-direction: column;
}